.contact-btn{
    background-color: #8EADD5 !important;
    width: 167px !important;
    line-height: 30px;
}
@media screen and (max-width:768px) {
    .contactInfo{
        text-align: center;
    }
}