.trusted-section{
    margin-bottom: 136px;

    .brands-container{
        max-width: 915px;
    }
}
@media screen and (max-width:768px) {
    .trusted-section{
        margin-top: 100px !important;
        margin-bottom: 0 !important;
    }
}